ai-content-automation.json.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "ae62d035-26b3-479a-aead-f4eb8fbfcbb6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18fe51e7-e302-4a42-ac91-765289dd7bf6",
              "name": "Topic",
              "value": "AI in education",
              "type": "string"
            },
            {
              "id": "e906d9e1-77ec-46a2-bc98-a4336d2ee065",
              "name": "BlogLength",
              "value": "1200",
              "type": "string"
            },
            {
              "id": "04769ceb-53cb-4081-85ca-784b68389cf8",
              "name": "tone ",
              "value": "Professional",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -16
      ],
      "id": "ea1a3ac6-0909-49df-b48b-1eeb032c4fb7",
      "name": "Input Topic"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a {{$json.BlogLength}} word SEO optimized blog about \"{{$json.Topic}}\".\n\nTone: {{$json.tone}}\n\nThe blog should include:\n\n- Catchy title\n- Introduction\n- H2 headings\n- H3 headings\n- Bullet points\n- FAQs\n- Conclusion\n\nReturn the blog in Markdown format only.",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -48,
        -16
      ],
      "id": "6e5e8991-bb02-4ae9-bd95-c231d70e164d",
      "name": "Generate SEO Blog"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -128,
        160
      ],
      "id": "7114ddb5-3cc3-406f-b73c-044327424e72",
      "name": "Groq Blog Model",
      "credentials": {
        "groqApi": {
          "id": "0HrdohBMq0YGEv3n",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media expert.\n\nBased on the following blog:\n\n{{ $json.text || $json.output || JSON.stringify($json) }}\n\nCreate:\n\n1. A LinkedIn post (150–250 words with emojis and hashtags)\n\n2. A Twitter/X post (under 280 characters)\n\nReturn in this format:\n\nLinkedIn:\n...\n\nTwitter:\n...",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        -16
      ],
      "id": "27fc2dc7-5484-4bb0-8844-6639ee927a25",
      "name": "Generate Social Posts"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI output from the previous node\nconst output = $input.first().json.text;\n\n// Extract LinkedIn section\nconst linkedinMatch = output.match(/LinkedIn:\\s*([\\s\\S]*?)Twitter:/i);\n\n// Extract Twitter section\nconst twitterMatch = output.match(/Twitter:\\s*([\\s\\S]*)/i);\n\nreturn [{\n  json: {\n    linkedin: linkedinMatch ? linkedinMatch[1].trim() : \"\",\n    twitter: twitterMatch ? twitterMatch[1].trim() : \"\",\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ],
      "id": "098add64-f6b3-49e1-93b1-7a81267cb8ef",
      "name": "Split Social Posts"
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        256,
        176
      ],
      "id": "340f474d-566d-4521-a3d4-0b0b0f910a7c",
      "name": "Groq Social Model",
      "credentials": {
        "groqApi": {
          "id": "0HrdohBMq0YGEv3n",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hamnadotahmed@gmail.com",
        "subject": "AI Content Ready for Approval",
        "message": "=Hello,  A new AI-generated post is ready.  Topic: {{$node[\"Input Topic\"].json[\"Topic\"]}}  LinkedIn Post: {{$json.linkedin}}  Twitter Post: {{$json.twitter}}  Reply with APPROVE or REJECT.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -16
      ],
      "id": "9b9b1497-01ce-4ae2-91fe-1603820053c0",
      "name": "Email for Review",
      "webhookId": "17138d96-96c3-48a0-a1b6-7eee08200743",
      "credentials": {
        "gmailOAuth2": {
          "id": "6Ji8JLLnuFHwaIhw",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        -16
      ],
      "id": "01162976-4f72-412b-9970-7c274ed8992a",
      "name": "Wait for Approval",
      "webhookId": "283d76de-c0ae-4ce8-a662-5e853752673d"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Topic": {
      "main": [
        [
          {
            "node": "Generate SEO Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Blog": {
      "main": [
        [
          {
            "node": "Generate Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Blog Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate SEO Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Posts": {
      "main": [
        [
          {
            "node": "Split Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Social Posts": {
      "main": [
        [
          {
            "node": "Email for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Social Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Social Posts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email for Review": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dfbf6bde-f7c2-4113-bec7-5bd8fa6c6aa6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ffcf5b865b12de9231de60820d869876310f18fd0b7e245bdd21f9b32dacafe"
  },
  "nodeGroups": [],
  "id": "0HvntwxYvq6SsHkx",
  "tags": []
}